[submodule "FinalExamAutograder"]
	path = FinalExamAutograder
	url = https://github.com/dellolmstead-eng/AE210FinalExamGrader.git
	branch = main
[submodule "FinalAircraftAutograder"]
	path = FinalAircraftAutograder
	url = https://github.com/dellolmstead-eng/AE210FinalProjectGrader
	branch = main
[submodule "DraftAircraftAutograder"]
	path = DraftAircraftAutograder
	url = https://github.com/dellolmstead-eng/AE210GE2Webgrader.git
	branch = main
